<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>AngularJS Highcharts</h1>
        <p class="lead">Highcharts chart directive for <strong>AngularJS</strong>.</p>
    </div>
    <div class="bs-docs-social">
        <div class="container">
            <ul class="bs-docs-social-buttons">
                <li>
                    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=frapontillo&amp;repo=angular-highcharts-chart-directive&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                </li>
                <li>
                    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=frapontillo&amp;repo=angular-highcharts-chart-directive&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="frapontillo">Tweet</a>
                </li>
                <li>
                    <div class="g-plusone" data-size="medium"></div>
                </li>
            </ul>
        </div>
    </div>
</header>