<div class="row">
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav animated">
            <li><a href="#intro"><i class="icon-chevron-right"></i> Basic introduction</a></li>
            <li><a href="#hide-show"><i class="icon-chevron-right"></i> Hide and show series</a></li>
            <li><a href="#chart-type"><i class="icon-chevron-right"></i> Chart type</a></li>
            <li><a href="#more"><i class="icon-chevron-right"></i> More</a></li>
        </ul>
    </div>
    <div class="span9">
        <section id="intro">
            <div class="page-header">
                <h1>Basic introduction</h1>
            </div>
        </section>
        <section id="hide-show">
            <div class="page-header">
                <h1>Hide and show series</h1>
            </div>
        </section>
        <section id="chart-type">
            <div class="page-header">
                <h1>Chart type</h1>
            </div>
        </section>
        <section id="more">
            <div class="page-header">
                <h1>More</h1>
            </div>
        </section>
    </div>
</div>

